div.gameboard { 
  background: url(/images/poker_table.jpg)no-repeat;
  background-size:100% auto;
  min-width: 50%;
}
.row li .top_row {
	float: left;
  	width: 25%;
  	height: 25%;
  	margin-bottom: 50px;
}
.row li {
  float: left;
  width: 25%;
  height: 25%;
  margin-bottom: 200px;
  display: inline-block;
}
li.bottom_row {
	float: left;
  	width: 25%;
  	height: 25%;
  	margin-bottom: 50px;
}

img .avatar {
  border: 0 none;
  display: inline-block;
  max-height: 60%;
  max-width: 60%;
  vertical-align: middle;
  margin: auto;
}
