select.form-control {
  line-height: 15px;
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
  float: none;
  background-color: #ffffe5;
  font-size: 20px;
}

.navbar-static-top{
  background: white;
  border: outset;
  /*border-color: #008000;*/
  min-height: 100%;
  border-radius: 10px;
  top: 1px;
}
.navbar-nav li a:visited {
  color: black;
}
p.instructions{
  max-height: 45px;
  position: fixed;
  right: 20px;
  top: 10px;
}
p.end_game{
  max-height: 45px;
  position: fixed;
  right: 20px;
  top: 35px;
}

.nav-head {
  max-height: 45px;
  position: relative;
  padding-left: 10px;
  top: 4px;
}

/*.logo-image:hover {
  transform: rotate(10deg) scale(1.1);
}*/
.btn-success {
  color: black;
  margin-top: 10px;
  background-color: #FBB117;
  margin-bottom: 20px;
}
h3#index_names {
    color: #45DD49;
font-style: oblique;
}
.bounce {
  position:relative;
  float: left;
  left:20%;
  bottom:0;
  margin-top:30px;
  margin-left:-25px;
  height:50px;
  width:50px;
  -webkit-animation:bounce 0.9s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:30px; }
  100%     {bottom:0;}
}

.bounce2 {
  position:relative;
  float: right;
  right:27%;
  bottom:0;
  margin-right: -25px; 
  margin-top:30px;
  height:50px;
  width:50px;
  -webkit-animation:bounce 0.9s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:30px; }
  100%     {bottom:0;}
}
.bg-1 { 
    background-color:  #45DD49;  /*Green */
    color: #ffffff;
    background-repeat: no-repeat;
    background-position: static;
    background-size: cover;
 }
div.welcome {
  position: fixed;
 width: 100%;
 height: 100%;
 background: url(/images/Deck-of-Cards.jpg);
 background-size: cover;
 bottom: 0;
 left: 0;
 right: 0;
}
div.welcome2 {
 background-size: cover;
}
#logo {
  position: absolute;
  max-height: 300px;
}
#logo2 {
  max-height: 300px;
  margin-right: 50%;
}
#name {
  max-width: 30%;
  background: #ffffe5;
  font-size: 15px;
  color: black;
}
.logo-image {
  max-height: 100px;
}

.player-number {
  padding-bottom: 100px;
}
 #rotate {
    -webkit-animation: anim 10s infinite linear;
    animation: anim 10s infinite linear;
}

@-webkit-keyframes anim {
    from {-webkit-transform: rotateY(0deg);}
    to {-webkit-transform: rotateY(360deg);}
}

@keyframes anim {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
}

h3 {
  padding-bottom: 50px;
}

div#drunk-dogs {
  position: fixed;
  right: 150px;
  top: 200px;
}
h4 {
  color:#45DD49;
}
#plus {
  width: 20px;
  height: 20px;
}


