div.gameboard { 
  background: url(/images/poker_table.jpg) 50% 50%;
  background-size: cover;
  	width: 100%;
  	max-width: 1024px;
  	margin-bottom: 50px;
  	display: inline-block;
  	vertical-align: middle;
  	margin: auto;
}
.row li {
	float: left;
  	width: 25%;
  	margin-bottom: 25px;
}
header {
  top: 70px;
}
.row #middle-row { 
	float: center;
	width: 50%;
	margin-left: 30%;
	margin-bottom: 20px;
}
img .avatar {
  border: 0 none;
  display: inline-block;
  max-height: 60%;
  max-width: 30%;
  vertical-align: middle;
  margin: auto;
}
#sidebar {
  background: black;
  position: fixed;
  bottom: 0;
  right: 0;
  top: 80px;
  width: 150px;
  border: 1 solid;
  opacity:.50;
  color: white;
}
body > footer {
  background: blue;
  bottom: 0;
  height: 50px;
  left: 0;
  position: fixed;
  right: 0;
}

#avatar.current {
	background-color: blue;
}
#foo{
    overflow: scroll;
    position: relative;
    background-size: cover;
}