<!DOCTYPE html>
<html>
<head>
	<title>GAME_PAGE</title>
</head>
<body>
	<div class="page-header">
		<h1>King's Cup: <small>drinking with friends!</small></h1>
	</div>
	<div class="gameboard">
<div class="row">
  <div id="small-img" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center">
    <ul>
      <li>
        <img src="http://placehold.it/150x100" class="img-responsive inline-block" alt="Responsive image" id="avatar" />
      </li>
      <li>
        <img src="http://placehold.it/150x100" class="img-responsive inline-block" alt="Responsive image"
        id="avatar" />
      </li>
      <li>
        <img src="http://placehold.it/150x100" class="img-responsive inline-block" alt="Responsive image" id="avatar"/>
      </li>
         <li>
        <img src="http://placehold.it/150x100" class="img-responsive inline-block" alt="Responsive image" id="avatar"/>
      </li>
    </ul>
  </div>
</div>
</div>


	</div>
</body>

</html>


