<!DOCTYPE html>
<html>
<head>
	<title>GAME_PAGE</title>
</head>
<body>
	<div class="page-header">
		<h1>King's Cup: <small>drinking with friends!</small></h1>
	</div>
	<div class="gameboard">
<div class="row">
  <div id="top_row">
    <ul>
      <li>

        <div class="col-md-3">
			<img src="http://placehold.it/150x100" alt="Responsive image" id="avatar" /> 
		</div>
      </li>

      <li>
        <div class="col-md-3">
			<img src="http://placehold.it/150x100" alt="Responsive image" id="avatar" />
		</div>
      </li>

      <li>
        <div class="col-md-3">
			<img src="http://placehold.it/150x100" alt="Responsive image" id="avatar" />
		</div>
      </li>

         <li>
        <div class="col-md-3">
			<img src="http://placehold.it/150x100" alt="Responsive image" id="avatar" />
		</div>
      </li>

    </ul>
  </div>
  <div class="row">
  <div id="middle-row">
    <ul>
      <li>

        <div class="col-md-3">
			<img src="http://placehold.it/150x100" alt="Responsive image" id="avatar" /> 
		</div>
      </li>

      <li>
        <div class="col-md-3">
			<img src="http://placehold.it/150x100" alt="Responsive image" id="avatar" />
		</div>
      </li>

    </ul>
    </div>
    </div>
    <div class="row">
  <div id="small-img">
    <ul>
      <li>

        <div class="col-md-3">
			<img src="http://placehold.it/150x100" alt="Responsive image" id="avatar" /> 
		</div>
      </li>

      <li>
        <div class="col-md-3">
			<img src="http://placehold.it/150x100"  alt="Responsive image" id="avatar" />
		</div>
      </li>

      <li>
        <div class="col-md-3">
			<img src="http://placehold.it/150x100" id="avatar" />
		</div>
      </li>
      
         <li>
        <div class="col-md-3">
			<img src="http://placehold.it/150x100"  alt="Responsive image" id="avatar" />
		</div>
      </li>

    </ul>
  </div>
  </div>
</div>
</div>


	</div>
</body>

</html>