<!DOCTYPE html>
<html>
<head>
	<title>GAME_PAGE</title>
</head>
<body>

<header>
<nav class="navbar navbar-inverse">
	<h1>King's Cup: <small>drinking with friends!</small></h1>
</nav>
		
</head>
</header>

<main>

  <section id="gameboard">
  	<div class="gameboard">
		<div class="row">
		  <div id="top_row">
		    <ul>
		      <li>
		        <div class="col-md-3">
					<img src="http://placehold.it/150x100" alt="Responsive image" id="avatar" /> 
						<p>name</p>
				</div>
		      </li>
		      <li>
		        <div class="col-md-3 avatar">
					<img src="http://placehold.it/150x100" alt="Responsive image"/>
					<p>name</p>
				</div>
		      </li>
		      <li>
		        <div class="col-md-3 avatar">
					<img src="http://placehold.it/150x100" alt="Responsive image" />
					<p>name</p>
				</div>
		      </li>
		      <li>
		        <div class="col-md-3 avatar">
					<img src="http://placehold.it/150x100" alt="Responsive image" />
					<p>name</p>
				</div>
		      </li>
		    </ul>
  		</div>
  	</div>
	<div class="row">
	  <div id="middle-row">
	    <ul>
	      <li>
	        <div class="col-md-3 card">
				<img src="http://placehold.it/150x100" alt="Responsive image" >
				<button type="button" class="btn btn-danger">Pull a Card</button>
			</div>
	      </li>
	      <li>
	        <div class="col-md-3 card">
				<img src="http://placehold.it/150x100" alt="Responsive image" />
			</div>
	      </li>
	    </ul>
      </div>
  	</div>
    <div class="row">
	  <div id="small-img">
	    <ul>
	      <li>
	        <div class="col-md-3 avatar">
	        	<p>name</p>
				<img src="http://placehold.it/150x100" alt="Responsive image" /> 
			</div>
	      </li>
	      <li>
	        <div class="col-md-3 avatar">
	        	<p>name</p>
				<img src="http://placehold.it/150x100"  alt="Responsive image"/>
			</div>
	      </li>
	      <li>
	        <div class="col-md-3 avatar">
	        	<p>name</p>
				<img src="http://placehold.it/150x100" alt="Responsive image" />
			</div>
	      </li>
	      <li>
	        <div class="col-md-3 avatar">
	        	<p>name</p>
				<img src="http://placehold.it/150x100"  alt="Responsive image"  />
			</div>
	      </li>
	    </ul>
	  </div>
	</div>
</div>
  </section>


  <aside id="sidebar">
  	<ul class="nav nav-tabs">
  <li role="presentation"><a href="#">
  	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  RULES</a></li>
</ul>
	<p>END CURRENT GAME?</p>
	<button type="button" class="btn btn-danger"></button>
  </aside>

</main>

<footer>

</footer>

</body>
</html>
</body>

</html>