<!DOCTYPE html>
<html>
<head>
	<title></title>
	<header>
		<nav class="navbar navbar-inverse">
			<h1>King's Cup: <small>drinking with friends!</small></h1>
		</nav>
	</header>
</head>
<body>

</body>
</html>


