<!DOCTYPE html>
<html>
<head>
	<title>GAME_PAGE</title>
</head>
<body>

<header>
		<h1>King's Cup: <small>drinking with friends!</small></h1>
</head>
</header>

<main>

  <section id="gameboard">
  	<div class="gameboard">
		<div class="row">
		  <div id="top_row">
		    <ul>
		      <li>
		        <div class="col-md-3">
					<img src="http://placehold.it/150x100" alt="Responsive image" id="avatar" /> 
						<p>name</p>
				</div>
		      </li>
		      <li>
		        <div class="col-md-3">
					<img src="http://placehold.it/150x100" alt="Responsive image" id="avatar" />
					<p>name</p>
				</div>
		      </li>
		      <li>
		        <div class="col-md-3">
					<img src="http://placehold.it/150x100" alt="Responsive image" id="avatar" />
					<p>name</p>
				</div>
		      </li>
		      <li>
		        <div class="col-md-3">
					<img src="http://placehold.it/150x100" alt="Responsive image" id="avatar" />
					<p>name</p>
				</div>
		      </li>
		    </ul>
  		</div>
  	</div>
	<div class="row">
	  <div id="middle-row">
	    <ul>
	      <li>
	        <div class="col-md-3" id="avatar">
				<img src="http://placehold.it/150x100" alt="Responsive image" >
			</div>
	      </li>
	      <li>
	        <div class="col-md-3" id="avatar">
				<img src="http://placehold.it/150x100" alt="Responsive image" />
			</div>
	      </li>
	    </ul>
      </div>
  	</div>
    <div class="row">
	  <div id="small-img">
	    <ul>
	      <li>
	        <div class="col-md-3" id="avatar">
	        	<p>name</p>
				<img src="http://placehold.it/150x100" alt="Responsive image" /> 
			</div>
	      </li>
	      <li>
	        <div class="col-md-3" id="avatar">
	        	<p>name</p>
				<img src="http://placehold.it/150x100"  alt="Responsive image"/>
			</div>
	      </li>
	      <li>
	        <div class="col-md-3" id="avatar">
	        	<p>name</p>
				<img src="http://placehold.it/150x100" alt="Responsive image" />
			</div>
	      </li>
	      <li>
	        <div class="col-md-3" id="avatar">
	        	<p>name</p>
				<img src="http://placehold.it/150x100"  alt="Responsive image"  />
			</div>
	      </li>
	    </ul>
	  </div>
	</div>
</div>

  </section>

  <aside id="sidebar">

  </aside>

</main>

<footer>

</footer>

</body>
</html>
</body>

</html>