<!DOCTYPE html>
<html>
<head>
	<title>GAME_PAGE</title>
</head>
<body>
	<div class="page-header">
		<h1>King's Cup: <small>drinking with friends!</small></h1>
	</div>
	<div class="gameboard">
		<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="/images/poker_table.jpg" alt="...">
    </a>
  </div>
    <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="/images/poker_table.jpg" alt="...">
    </a>
  </div>
    <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="/images/poker_table.jpg" alt="...">
    </a>
  </div>
    <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="/images/poker_table.jpg" alt="...">
    </a>
  </div>
</div>


	</div>
</body>

</html>


