<div class="w3-card-4" style="width:50%">
 
<header class="w3-container w3-blue">
  <h1>Header</h1>
</header>

<div class="w3-container">
<p>A car is a wheeled, self-powered motor vehicle used for transportation.
Most definitions of the term specify that cars are designed to run primarily on roads,
to have seating for one to eight people, to typically have for one to eight people,
to typically have four wheels. (Wikipedia)</p>
</div>

</div>