    <% if !current_game %>
<div class="welcome">
  <div class="container-fluid bg-1 text-center">
      <h3>WELCOME TO KING'S CUP!</h3>
      <div class="bounce"> 
        <img id="logo" src="/images/beer.png" >
      </div>
      <href="#"><img id="rotate" class="nav-head" src="/images/Kheart.svg"></a>
      <img class="logo-image" src="/images/logo.png">
      <href="#"><img id="rotate" class="nav-head" src="/images/Kheart.svg"></a>
      <div class="bounce2">
        <img id="logo2" src="/images/beer.png" >
      </div>
      <form action='/game' method = "post">
        <strong><label class="player-number" for="sel1">Select Number Of Players: </label></strong>
        <select name="num_of_players" class="form-control" id="sel1">
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
        <button class="btn btn-success btn" type="submit"><span class= "glyphicon glyphicon-glass" aria-hidden="true"></span>Lets Get Drunk!</button>
      </form>
    <% end %>
    </div>
</div>

    <% if current_game %>
    <div class="welcome2">
<div class="col-md-8">
      <h3 class="animated zoomIn" id="index_names">Enter Your Names to Start</h3>
      <form id="names" action="/game/players" method="post">
        <% current_game.players.each_with_index do |player, idx| %>
          <div class="form-group" id="players-index">
            <label for="player-<%= player.id %>-name">Player <%= idx + 1 %></label>
            <input id="name" size="100" id="player-<%= player.id %>-name" name="<%= player.id %>" />
          </div>
        <% end %>
        <p>
          <button class="btn btn-success btn">Start Game</button>
        </p>
      </form>
          <div id="drunk-dogs">
          <img src="/images/drunkdogs.gif">
<!--       <img src="https://media.giphy.com/media/PvZ2jLjFofH4Q/giphy.gif"> -->
    </div>
    <% end %>
    </div>
    </div>


