
<div class="welcome">
  <div class="container-fluid bg-1 text-center">
    <% if !current_game %> 
      <h3>Welcome To The Kings Cup Game</h3>
      <div class="bounce"> 
        <img id="logo" src="/images/beer.png" >
      </div>
      <img class="logo-image" src="/images/logo.png">
      <div class="bounce2">
        <img id="logo2" src="/images/beer.png" >
      </div>
      <form action='/game' method = "post">
        <label for="sel1">Select Number Of Players: </label>
        <select name="num_of_players" class="form-control" id="sel1">
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
        <button class="btn btn-success btn" type="submit"><span class= "glyphicon glyphicon-glass" aria-hidden="true"></span>Lets Get Drunk!</button>
      </form>
    <% end %>
      </div>
</div>
    <% if current_game %>
      <h3 class="animated zoomIn">Enter Your Names to Start</h3>
      <form id="names" action="/game/players" method="post">
        <% current_game.players.each_with_index do |player, idx| %>
          <div class="form-group">
            <label for="player-<%= player.id %>-name">Player <%= idx + 1 %></label>
            <input id="name" size="100" id="player-<%= player.id %>-name" name="<%= player.id %>" />
          </div>
        <% end %>
        <p>
          <button class="btn btn-success btn">Start Game</button>
        </p>
      </form>
    <% end %>

