<style> 

  #navbar-rules { 
  background: none;
  border: outset;
  border-radius: 10px;
  top: 10px;
  min-height: 60px;
  font-size: 15px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
}

</style>


  <div id="wrapper" class="container">
      <nav  id="navbar-rules">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><img id="rotate" class="nav-head" src="/images/Kheart.svg"></a>
          </div>
        <ul class="nav navbar-nav">
          <% if current_game %>
            <li><a id="link-text" href="/">Home Page</a></li> <!-- need to test the appropriate action call -->
          <% end %>
          <% if @players %>
            <li><a id="link-text" href="#"></a>Back To Current Game</li> <!-- need to test the appropriate action call -->
          <% end %>
        </ul>
      </nav>
      <ul id="index_cards">
          <li id="card-1">
            <h3>ACE Card</h3>
              <img src="/images/PNG-cards-1.3/ace_of_hearts.png" height="110" width="100" alt="Toucan" />
              <p><strong>Name: Snake Eyes</strong><br />
                Rule: Whoever picks the ace can call snake eyes on anyone in the game. No one can look at the person with snake eyes until another ace is picked or they have to drink </p>
          </li>
          <li id="card-2">
              <h3>Card 2</h3>
              <img src="/images/PNG-cards-1.3/2_of_hearts.png" height="110" width="100" alt="Fox" />
              <p><strong>Name: You</strong><br />
                Two has and always will be the classic “you”. This means that whoever picks the 2 card gets to choose anybody they want in the game to drink </p>
          </li>
          <li id="card-3">
            <h3>Card 3</h3>
            <img src="/images/PNG-cards-1.3/3_of_hearts.png" height="110" width="100" alt="Dog" />
              <p><strong>Name: Me</strong><br/>
              Three is another staple in Kings Cup, “me”. Pick a 3 and you have to drink </p>
          </li>
          <li id="card-4">
            <h3>Card 4</h3>
            <img src="/images/PNG-cards-1.3/4_of_hearts.png" height="110" width="100" alt="Penguin" />
            <p><strong>Name: Whores</strong><br />
              The four card incorporates the ladies by telling them they are “whores” and have to drink</p>
          </li>
          <li id="card-5">
            <h3>Card 5</h3>
            <img src="images/PNG-cards-1.3/5_of_hearts.png" height="110" width="100" alt="Lion" />
              <p><strong>Name: Dance</strong><br />
                The person who picks the card has to do a dance move. Then the next person has to do that dance move and add to it. This continues until someone screws up and has to drink </p>
          </li>
           <li id="card-6">
            <h3>Card 6</h3>
            <img src="images/PNG-cards-1.3/6_of_hearts.png" height="110" width="100" alt="Lion" />
              <p><strong>Name: Dickse</strong><br />
                All the guys prove that yes they are packing by drinking</p>
          </li>
           <li id="card-7">
            <h3>Card 7</h3>
            <img src="images/PNG-cards-1.3/7_of_hearts.png" height="110" width="100" alt="Lion" />
              <p><strong>Name: Heaven</strong><br />
                Seven equals “heaven”. All players reach for the sky. The last person has to drink.</p>
          </li>
           <li id="card-8">
            <h3>Card 8</h3>
            <img src="images/PNG-cards-1.3/8_of_hearts.png" height="110" width="100" alt="Lion" />
              <p><strong>Name: Mate</strong><br />
                The player who picks the card chooses another player to be their mate. This means when one of them drinks they both drink.
                </p>
          </li>
           <li id="card-9">
            <h3>Card 9</h3>
            <img src="images/PNG-cards-1.3/9_of_hearts.png" height="110" width="100" alt="Lion" />
              <p><strong>Name: Mate</strong><br />
                The player who picked the card say a word and everybody has to say a word that rhymes with it. This goes on until somebody cannot think of a word that rhymes</p>
          </li>
          <li id="card-10">
            <h3>Card 10</h3>
            <img src="images/PNG-cards-1.3/10_of_hearts.png" height="110" width="100" alt="Lion" />
              <p><strong>Name: Categories</strong><br />
              The player who picked the card chooses a category. Then everyone goes around and says something that fits in the category. Whoever cannot think of anything has to drink</p>
          </li>
           <li id="card-J">
            <h3>Jack</h3>
            <img src="images/PNG-cards-1.3/jack_of_hearts2.png" height="110" width="100" alt="Lion" />
              <p><strong>Name: Never Have Ever</strong><br />
              Everybody puts up 5 fingers. Drawing player says something they have never done. Then if you have done it you put your finger down.The first person with all of their fingers down must drink</p>
          </li>
           <li id="card-Q">
            <h3>Qeen</h3>
            <img src="images/PNG-cards-1.3/queen_of_hearts2.png" height="110" width="100" alt="Lion" />
              <p><strong>Name: Questions</strong><br />
                Drawing player starts by asking anyone a question. This player then asks anyone else a question. This process continues until someone fails to ask a question and must drink</p>
          </li>
           <li id="card-K">
            <h3>King</h3>
            <img src="images/PNG-cards-1.3/king_of_hearts2.png" height="110" width="100" alt="Lion" />
              <p><strong>Name: Make A Rule</strong><br />
              The rule can be anything and followed until another King is picked and the rule is replaced. If the rule is not followed the person who broke the rule has to drink </p>
          </li>
        </ul>
    </div>

